---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2 class="archive__item-title">
  <a href="https://enlighten.education/" rel="permalink">Enlighten Dashboard</a>
</h2>

<p class="archive_item-excerpt" itemprop="description"></p>
<p>
  <b>#Dashboard Design and Development, #Mining large datasets
    <br>#UX research and design </b>
  <br><br>
  Enlighten Dashboard empowers educators to compare students' performance to their demographically similar peers, and to connect with like-context schools. <br>
    <br> This will be released in the back-to-school semester in 2020 by Renaissance Learning Inc (RL), potentially reaching one-third of U.S. schools and have practical impact on real-world educational practice!</br><br>
      <img src='http://kexin-yang.github.io/images/enlighten/enlighten-dashboard_.png?raw=true' alt='enlighten' style='width: 650px;'>
  </p>



<h2 class="archive__item-title">
  <a href="https://metals-ids-18fall.github.io/student-pathway/" rel="permalink"> Learning Analytics for Data-driven Course Re-design</a>
</h2>

<p class="archive_item-excerpt" itemprop="description"></p>
<p>
  <b>#Educational Data Mining, # Data Visualization
    <br>#Learning Analytics</b>
  <br><br>
 In this educational data visualization project, we explored how different factor play a role in students' learning outcome, and visualized students' learning pathways in order to give educators evidence-based course-redesign suggestions. <br>
      <img src='https://kexin-yang.github.io/images/Learning_Paths/Completion.png?raw=true' alt='Photo' style='width: 650px;'/>
  </p>


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

