---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2 class="archive__item-title">
  <a href="https://enlighten.education/" rel="permalink">Enlighten Dashboard</a>
</h2>

<p class="archive_item-excerpt" itemprop="description"></p>
<p>
  <b>#Dashboard Design and Development, #Mining large datasets
    <br>#UX research and design,#Addressing K-12 administrators' need</b>
  <br><br>
  Enlighten Dashboard empower administrators to compare students' performance to their demographically similar peers, and connect with like-context schools. <br>
      <img src='http://kexin-yang.github.io/images/enlighten/enlighten-dashboard_.png?raw=true' alt='enlighten' style='width: 650px;'>
  </p>



<h2 class="archive__item-title">
  <a href="https://metals-ids-18fall.github.io/student-pathway/" rel="permalink">Educational Data Visualization and Learning Analytics for Course re-design</a>
</h2>

<p class="archive_item-excerpt" itemprop="description"></p>
<p>
  <b>#Educational Data Mining, # Data Visualization
    <br>#Learning Analytics</b>
  <br><br>
 In this educational data visualization project, we explored different factors’ contribution to stduents' final learning outcome, and visualized students' learning pathways in order to give educators evidence-based suggestions. <br>
      <img src='http://kexin-yang.github.io/images/enlighten/enlighten-dashboard_.png?raw=true' alt='enlighten' style='width: 650px;'>
  </p>


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

