---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2 class="archive__item-title">
  <a href="https://enlighten.education/" rel="permalink">Enlighten Dashboard</a>
</h2>

<p class="archive_item-excerpt" itemprop="description"></p>
<p>
  <b>#Dashboard Design and Development, #Mining large datasets
    <br>#UX research and design**,**#Addressing K-12 administrators' need</b>
  <br>
  Enlighten Dashboard empower administrators to compare students' performance to their demographically similar peers, and connect with like-context schools. <br>
      <img src='http://kexin-yang.github.io/images/enlighten/enlighten-dashboard_.png?raw=true' alt='enlighten' style='width: 650px;'>
  </p>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

